/*
If you need to add css to the Logo you can do it here.

.logoMobile {
}
*/

.logoMobile {
  font-size: 21px;
  font-weight: 600;
  color: var(--matterColor);
}

.logoDesktop {
  font-size: 18px;
  columns: var(--matterColor);
}
